{% extends 'base.html.twig' %}

{% block title %}Configuration Credit{% endblock %}

{% block body %}
    <h1>Configuration Credit</h1>

    {{ include('configuration_credit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_liste_produit_configure') }}">back to list</a>

    {{ include('configuration_credit/_delete_form.html.twig') }}
{% endblock %}
