{% extends 'base.html.twig' %}

{% block title %}Configuration Credit{% endblock %}

{% block body %}
    <h1>Configuration Credit</h1>

      {{ include('modal.html.twig') }}

    {{ include('configuration_credit/_form.html.twig') }}

    <a href="{{ path('app_configuration_credit_index') }}">back to list</a>
{% endblock %}
