{% extends 'base.html.twig' %}

{% block title %} Configuration General Credit{% endblock %}

{% block body %}
    <h1>Configuration General Credit</h1>
        {# Message de confihuration #}
          {% for message in app.flashes('success') %}
            <strong class='text-alert alert-primary'>{{ message }}</strong>
        {% endfor %}

    {{ include('configuration_general_credit/_form.html.twig') }}

    <a href="{{ path('app_configuration_general_credit_index') }}">back to list</a>
{% endblock %}
