{% extends 'base.html.twig' %}

{% block title %}New Remboursement{% endblock %}

{% block body %}
    <h1>Create new Remboursement</h1>

<<<<<<< HEAD
    <p style="display:none;" id="codecreditremboursement">{{ codecredit }}<p>
=======
    <p id="codecreditremboursement">{{ codecredit }}<p>
>>>>>>> a978b4129b2ff17d4d292312bae905af7ab006e5

    {{ include('remboursement/_form.html.twig') }}

    <a href="{{ path('app_remboursement_index') }}">back to list</a>
{% endblock %}
