{% extends 'base.html.twig' %}

{% block title %} Garantie Credit{% endblock %}
{% block head %} Garantie Credit{% endblock %}

{% block body %}
    <h1>Garantie Credit</h1>

    {{ include('garantie_credit/_form.html.twig') }}
    
{% endblock %}
