{% extends "base.html.twig" %}

{% block title %}
    Transfert du compte epargne 
{% endblock %}

{% block head %}
    Transfert du compte epargne 
{% endblock %}

{% block body %}
    {% include('modal.html.twig') %}
    
    <div class="card p-3">
        <div class="card mb-3">
            <div class="row text-secondary m-3">
                <div class="col-xl-4 col-md-4 col-sm-4">
                    {# <p><b> Nom Client :</b> <span id="nom"> {{ info.nom_client }}</span></p>   
                    <p> <b>Prenom client : </b> <span id="prenom"> {{ info.prenom_client }}</span></p>  #}
                </div>
                
                <div class="col-md-4 col-sm-4 m-auto">
                    <div class="d-flex justify-content-center"> <h5 class="text-secondary">
                        <i class="fa fa-exchange"></i> Transfert d'argent epargne 
                    </h5></div>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-4">
                    {# <p> <b>Code client :</b> <span id="code_client"> {{ info.codeclient }}</span></p>  #}
                </div>
            </div>              
        </div>
        {{ include('Module_epargne/transfertep/_form.html.twig') }} 
    </div>
{% endblock %}
