{% extends "base.html.twig" %}

{% block title %}
    Sortie de compte epargne 
{% endblock %}

{% block head %}
    Sortie de compte epargne 
{% endblock %}

{% block body %}
    <h1>Retrait </h1>
{% endblock %}