{% extends "base.html.twig" %}

{% block title %}Par remboursement constante {% endblock %}
{% block head %} Par remboursement constante {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4 col-sm-4 col-xl-4">
            <p>Montant de credit :  </p>
            <p> Remboursement constante </p>
        </div>
        <div class="col-4 col-sm-4 col-xl-4">
            <p>Nombre de tranche  : </p>
        </div>
        <div class="col-4 col-sm-4 col-xl-4">
            <p>Taux : </p>
        </div>
    </div>
{% endblock %}