{% extends 'base.html.twig' %}

{% block title %}New CompteGL1{% endblock %}

{% block body %}
    <h1>Create new CompteGL1</h1>

    {{ include('compte_gl1/_form.html.twig') }}

    <a href="{{ path('app_compte_g_l1_index') }}">back to list</a>
{% endblock %}
