{% extends "base.html.twig" %}

{% block title %}
    Ajout de nouveau agence
{% endblock %}


{% block head %}
    Ajout de nouveau agence
{% endblock %}

{% block body %}
    {{ include('Module_client/agence/_form.html.twig') }}
</div>
{% endblock %}