{% extends "base.html.twig" %}

{% block title %}
    Depot compte epargne
{% endblock %}

{% block head %}
    
{% endblock %}

{% block body %}
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                    <!-- Modal Header -->
                <div class="modal-header titre_modal">
                    <h5 class="modal-title text-center">Depot du client groupe </h5>
                </div>
                {{ form_start(form) }} 
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 m-auto">
                                {{ form_row(form.code)}}
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer mb-0">
                        <button type="submit" class="btn btn-primary btn-sm"> Suivant </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div> 
{% endblock %}