{% extends 'base.html.twig' %}

{% block title %}Produit Credit{% endblock %}

{% block body %}
    <h1>Produit Credit</h1>

    {% for message in app.flashes('success') %}
        <strong class='text-alert alert-primary'>{{ message }}</strong>
    {% endfor %}

    {{ include('produit_credit/_form.html.twig') }}

{% endblock %}
