{% extends 'base.html.twig' %}

{% block title %}New AmortissementFixe{% endblock %}

{% block body %}
    <h1>Create new AmortissementFixe</h1>

    {{ include('amortissement_fixe/_form.html.twig') }}

    <a href="{{ path('app_amortissement_fixe_index') }}">back to list</a>
{% endblock %}
