{% extends "base.html.twig" %}

{% block title %}
    Ajout de client liste rouge
{% endblock %}

{% block head %}
    Ajout de client liste rouge
{% endblock %}

{% block body %}
    <a href="{{ path('app_liste_rouge_index') }}"  class="btn btn-info btn-sm"><i class="fa fa-user"></i> Individuel</a>
    {{ include('Module_client/liste_rouge/formgroupe.html.twig') }}

{% endblock %}