<form method="post" action="{{ path('app_plan_comptable_tier_delete', {'id': plan_comptable_tier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plan_comptable_tier.id) }}">
    <button class="btn">Delete</button>
</form>
