@import './custom/custom';
@import '~bootstrap/scss/bootstrap';
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min";
@import "~datatables.net-dt/css/jquery.dataTables.min";


body{
    background: #f9f9fb;
    min-height: 100vh;
}
.sidebar_body{
    background-color: #275d71;
}

#text-paragraphe{
    display: none;
}

#registration_form_caisse,#user_edit_caisse{
    display: none;
}

.card{
    font-size: 13px;
}

#age{
    color: #000;
    padding: 2px;
}

#login{
    background-color: #4786a5;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
}

#login:hover{
    background-color: #275d71;
}

.menu{
    font-size:13px;
    color: #fff;
}

.menu:hover{
    color: #000;
    font-size: 13px;
}
.lien,.rapport{
    font-size: 13px;
    color: #fff;
}

.lien:hover,.rapport:hover{
    font-size: 13px;
    color: #000;
}
.rapport:active{
    color: #000;
}
.down{
    font-size: 13px;
    color: #fff;
}

.down:hover{
    font-size: 13px;
    color: #000;
}
.dropmenu{
    background-color: #0d5772;
    color: #000;
}
.paginate_button,.page-link{
    text-decoration: none;
    font-size: 13px;
}

// *******************Tabs ******************/
.nav-tabs .active {
    color: #0a5eb1;
}

.nav-tabs .nav-link{
    color: #0a5eb1;
    background-color: #fff;
    margin-right: 1rem;
    border: 2px solid #0a5eb1;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 14px;
}

.nav-tabs{
    border-bottom: 2px solid #275d71;
}

.tab-content{
    border: 1px solid #275d71;
    padding: 25px;
}

/******************Information individuel client **********************/
// div input ,div select, option{
//     font-size: small;
//     height: 30px;
// }
label{
    font-size: 13px;
} 

span #age{
    font-size: 12px;
}

thead{
    background-color: #275d71;
    color: #fff;
}

p,td,th,.pagination,.dataTables_info{
    font-size: 13px;
}

.suggestion{
    font-size: 14px;
}
.suggestion:hover{
    background-color: #275d71;
    color: #fff;
}
#code_cli,#nom_cli,#prenom_cli{
    font-style: italic;
}
.nav-link .rapport .dropdown-toggle{
    color: red;
}
.titre_modal{
    background-color: #275d71;
    color: #fff;
}

.head{
    background-color: #275d71;
    color: #fff;
    margin-top: 0rem;
}

.nav-link .rapport .dropdown-toggle:active {
    color: #000;
}

.label-login{
    color: #275d71;
}

form div a{
    text-decoration: none;
}

/*******Chart Css **********************/

.body-chart{
    display: flex;
    justify-content: space-between;
}

.container-chart{
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.chart{
    padding: 1rem;
    border-radius: 0.5rem;
}
#modal{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    width: 400px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: animatemodal;
    animation-duration: .4s;
}

#modal-container{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0,0,0,.2);
}

#close-btn{
    font-size: 3rem;
}

#close-btn:hover{
   cursor: pointer;
   color: red;
   font-size: 3rem;
}

@keyframes animatemodal {
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}

.form-control[readonly]::-ms-expand {
    display: none;
}