{% extends 'base.html.twig' %}

{% block title %}Plan Comptable{% endblock %}
{% block head " Comptabilité>afficher"%}
{% block body %}

<div class="card">
    <div class="row m-4">

        <table class="table">
            <tbody>
                <tr>
                    <th>Numero Compte</th>
                    <th>Libellé</th>
                    <th></th>
                </tr>
                    <td>{{ plan_comptable.NumeroCompte }}</td>
                    <td>{{ plan_comptable.Libelle }}</td>
                    <td><a href="{{ path('app_plan_comptable_edit', {'id': plan_comptable.id}) }}"><i class="fa fa-edit"></i></a> </td>
                </tr>
            </tbody>
        </table>
    <div>
        
    <a href="{{ path('app_plan_comptable_index') }}" style="text-decoration: none">Plan Comptable(PCEC)</a>
<div>

{% endblock %}
