{% extends "base.html.twig" %}

{% block title "Page d'acceuil " %}
{% block head "Page d'acceuil" %}

{% block body %}
      <div style="display:none"> 
         <p> Nombre total de Client :<span id="client">{{ clientTotal|length }}</span> </p>
         <p> Nombre total du groupe : <span id="groupe">{{ groupeTotal|length }}</span> </p>
         <p> Nombre compte epargne : <span id="epargne">{{ compteEparne|length }}</span> </p>
         <p> Nombre compte agence : <span id="agence">{{ agence|length }}</span> </p>
      </div>

        <div class="body-chart">
            <div class="container-chart">
                <div class="chart">
                    <canvas id="myChart" width="300" height="300" ></canvas>
                </div>
                <div class="chart">
                    <canvas id="doughnut" width="300" height="300" ></canvas>
                </div>
            </div>
        </div>


{% endblock %}