{% extends 'base.html.twig' %}

{% block title %}Configuration Penalite{% endblock %}
{% block head %} Configuration Penalite{% endblock %}

{% block body %}
    <h1>Configuration Penalite</h1>

    {{ include('penalite_credit/_form.html.twig') }}

{% endblock %}
